# Read parquet file demo
This example shows how to reade a subset of columns from the variant.parquet file.

In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('../data/variants.parquet', columns=['name','lineage','location','collectionDate'])

In [3]:
df.head()

,name,lineage,location,collectionDate
0,BetaCoV/Wuhan/HBCDC-HB-01/2019,B.1.36.10,China / Hubei,2019-12-30
1,hCoV-19/Thailand/74/2020,B,Thailand/ Nonthaburi Province,2020-01-13
2,hCoV-19/Thailand/61/2020,B,Thailand/ Nonthaburi Province,2020-01-08
3,BetaCoV/Wuhan/IVDC-HB-04/2020,B,China / Hubei / Wuhan,2020-01-01
4,BetaCoV/Wuhan/IVDC-HB-01/2019,B,China / Hubei / Wuhan,2019-12-30

Get a subset of the data

In [4]:
df1 = df[df['location'].str.startswith('Mexico')].copy()

In [5]:
df1.shape
df1.head()

,name,lineage,location,collectionDate
241,hCoV-19/Mexico/CDMX-InDRE_01/2020,B.1.1,Mexico / Mexico City,2020-02-27
6761,hCoV-19/Mexico/CDMX-INER_01/2020,B.1.234,Mexico / Mexico City,2020-03-12
6764,hCoV-19/Mexico/CDMX-INER_02/2020,B.1,Mexico / Mexico City,2020-03-13
7028,hCoV-19/Mexico/CDMX-INER_03/2020,B,Mexico / Mexico City,2020-03-13
7029,hCoV-19/Mexico/CDMX-INER_04/2020,B.1.201,Mexico / Mexico City,2020-03-15